services:
  moviespider_proxy:
    image: swr.cn-north-4.myhuaweicloud.com/youcd/moviespider_proxy
    container_name: moviespider_proxy
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - "./IpProxyPool/config.yaml:/app/conf/config.yaml"
      - "./IpProxyPool/logs:/app/logs"
    networks:
      - movie_spider
    depends_on:
      moviespider_mysql:
        condition: service_healthy
  moviespider_mysql:
    container_name: moviespider_mysql
    image: mysql:5.7.18
    ports:
      - ${Mysql_Port}:3306
    environment:
      - MYSQL_ROOT_PASSWORD=${Mysql_Password}
    restart: always
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    healthcheck:
      test: mysql -uroot -p${Mysql_Password} -e "show databases"
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 100s
    networks:
      - movie_spider
  moviespider_aria2:
    container_name: moviespider_aria2
    image: p3terx/aria2-pro
    environment:
      - PUID=$UID
      - PGID=$GID
      - RPC_SECRET=${Aria2_Password}
      - UMASK_SET=022
      - IPV6_MODE=false
      - RPC_PORT=6800
      - LISTEN_PORT=6888
      - CUSTOM_TRACKER_URL=https://trackerslist.com/all_aria2.txt
      - TZ=Asia/Shanghai
    restart: always
    volumes:
      - "${Aria2_ConfigDir}:/config"
      - "${Aria2_DataDir}:/downloads"
    # network_mode: bridge
    ports:
      - ${Aria2_Port}:6800
      - 6888:6888
      - 6888:6888/udp
    networks:
      - movie_spider
  moviespider_core:
    container_name: moviespider_core
    restart: always
    image: swr.cn-north-4.myhuaweicloud.com/youcd/moviespider_core
    depends_on:
      moviespider_mysql:
        condition: service_healthy
    volumes:
      - "${MovieSpider_Dir}/config.yaml:/app/config.yaml"
    networks:
      - movie_spider
networks:
  movie_spider:
    name: movie_spider